#tape1 {
    color: blue;
}

#tape2 {
    font-family:courier;
}

#tape3 {
    text-align:center;
}

#tape4 {
    font-size:50px;
}

#tape5 {
    background-color:yellow;
}

#tape6 {
    text-align:center;
}

#tape7 {
    border:1px solid blue;
    height:200px
}